In [1]:
import pandas as pd
df = pd.read_csv("train_1.csv")
df.head(10)

C:\Users\andri\AppData\Local\Temp\ipykernel_19676\1735925059.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train_1.csv")

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1

In [13]:
df.info

<bound method DataFrame.info of          Store  DayOfWeek       Date  Sales  Customers  Open  Promo  \
1017208   1115          2 2013-01-01      0          0     0      0
1016473    379          2 2013-01-01      0          0     0      0
1016472    378          2 2013-01-01      0          0     0      0
1016471    377          2 2013-01-01      0          0     0      0
1016470    376          2 2013-01-01      0          0     0      0
...        ...        ...        ...    ...        ...   ...    ...
745        746          5 2015-07-31   9082        638     1      1
746        747          5 2015-07-31  10708        826     1      1
747        748          5 2015-07-31   7481        578     1      1
741        742          5 2015-07-31  10460       1016     1      1
0            1          5 2015-07-31   5263        555     1      1

        StateHoliday  SchoolHoliday     Total  AvgSalePerCustomer  3DaySales
1017208            a              1         0                 NaN        NaN
1016473            a              1         0                 NaN        NaN
1016472            a              1         0                 NaN        0.0
1016471            a              1         0                 NaN        0.0
1016470            a              1         0                 NaN        0.0
...              ...            ...       ...                 ...        ...
745                0              1   5794316           14.235110    26108.0
746                0              1   8844808           12.963680    28153.0
747                0              1   4324018           12.942907    27271.0
741                0              1  10627360           10.295276    28649.0
0                  0              1   2920965            9.482883    23204.0

[1017209 rows x 12 columns]>

In [14]:
df.dtypes

Store                          int64
DayOfWeek                      int64
Date                  datetime64[ns]
Sales                          int64
Customers                      int64
Open                           int64
Promo                          int64
StateHoliday                  object
SchoolHoliday                  int64
Total                          int64
AvgSalePerCustomer           float64
3DaySales                    float64
dtype: object

In [2]:
# Скільки коштів отримали за всі продані товари 
df['Total'] = df['Sales'] * df['Customers']
df.head(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Total
0,1,5,2015-07-31,5263,555,1,1,0,1,2920965
1,2,5,2015-07-31,6064,625,1,1,0,1,3790000
2,3,5,2015-07-31,8314,821,1,1,0,1,6825794
3,4,5,2015-07-31,13995,1498,1,1,0,1,20964510
4,5,5,2015-07-31,4822,559,1,1,0,1,2695498
5,6,5,2015-07-31,5651,589,1,1,0,1,3328439
6,7,5,2015-07-31,15344,1414,1,1,0,1,21696416
7,8,5,2015-07-31,8492,833,1,1,0,1,7073836
8,9,5,2015-07-31,8565,687,1,1,0,1,5884155
9,10,5,2015-07-31,7185,681,1,1,0,1,4892985

In [3]:
# Скільки коштів отримали окремо у 2020 та 2021 році
df['Date'] = pd.to_datetime(df['Date'])
for year in (2014, 2015):
    inc = df[df['Date'].dt.year == year]['Total'].sum() 
    print(f'Income in {year}: {inc}')    
    
# Який місяць був найбільш прибутковий 
print("M monthly_income") 
monthly_income = df.groupby(df['Date'].dt.to_period('M')) 
overall_month_income = monthly_income['Total'].sum() 
print(overall_month_income) 
print(overall_month_income.nlargest(1))

Income in 2014: 2014798748640
Income in 2015: 1232014453822
M monthly_income
Date
2013-01    152219628368
2013-02    149068538906
2013-03    190785037281
2013-04    164629916026
2013-05    174541543295
2013-06    158032961192
2013-07    188810805488
2013-08    175268223652
2013-09    153502624855
2013-10    164246443877
2013-11    175556776720
2013-12    252331344688
2014-01    161151109731
2014-02    157735043481
2014-03    170736432712
2014-04    183307309375
2014-05    177270421841
2014-06    177598113169
2014-07    157485213691
2014-08    148035882531
2014-09    149989691055
2014-10    149653490214
2014-11    165276800485
2014-12    216559240355
2015-01    170224597112
2015-02    152432598357
2015-03    181426897485
2015-04    183745440169
2015-05    173155316909
2015-06    187401195879
2015-07    183628407911
Freq: M, Name: Total, dtype: int64
Date
2013-12    252331344688
Freq: M, Name: Total, dtype: int64

In [4]:
# Який середній продаж на одного клієнта?
df['AvgSalePerCustomer'] = df['Sales'] / df['Customers']
df.head(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Total,AvgSalePerCustomer
0,1,5,2015-07-31,5263,555,1,1,0,1,2920965,9.482883
1,2,5,2015-07-31,6064,625,1,1,0,1,3790000,9.702400
2,3,5,2015-07-31,8314,821,1,1,0,1,6825794,10.126675
3,4,5,2015-07-31,13995,1498,1,1,0,1,20964510,9.342457
4,5,5,2015-07-31,4822,559,1,1,0,1,2695498,8.626118
5,6,5,2015-07-31,5651,589,1,1,0,1,3328439,9.594228
6,7,5,2015-07-31,15344,1414,1,1,0,1,21696416,10.851485
7,8,5,2015-07-31,8492,833,1,1,0,1,7073836,10.194478
8,9,5,2015-07-31,8565,687,1,1,0,1,5884155,12.467249
9,10,5,2015-07-31,7185,681,1,1,0,1,4892985,10.550661

In [5]:
df['AvgSalePerCustomer'].mean()

np.float64(9.493619003355342)

In [15]:
# Який магазин має найбільшу кількість клієнтів у середньому?
print(df.groupby('Store')['Customers'].mean().idxmax())

733

In [17]:
# Порівняти загальні продажі за перші півроку та другі півроку 2015 року)?
df['Date'] = pd.to_datetime(df['Date'])
first_half = df[(df['Date'].dt.year == 2015) & (df['Date'].dt.month <= 6)]['Sales'].sum()
second_half = df[(df['Date'].dt.year == 2015) & (df['Date'].dt.month > 6)]['Sales'].sum()
print(first_half, second_half)
if first_half > second_half:
    print('First half is bigger')
else:
    print('Second half is bigger')

1177177027 212322616
First half is bigger

In [20]:
# Який день тижня приносить найбільше прибутку в середньому?
print(df.groupby('DayOfWeek')['Sales'].mean().idxmax())

1

In [9]:
#Порівняти сумарну кількість продаж за дні коли були шкільні канікули і коли їх не було
a = df[df['SchoolHoliday'] == 1]['Sales'].sum()
b = df[df['SchoolHoliday'] == 0]['Sales'].sum()
print(a,b)
if a>b:
    print(a)
else:
    print(b)

1176920092 4696260531
4696260531

In [10]:
# Який відсоток продажів припадає на топ-3 магазини?
top3_sales = df.groupby('Store')['Sales'].sum().nlargest(3).sum()
total_sales = df['Sales'].sum()
print((top3_sales / total_sales) * 100)

0.910954973706757

In [11]:
# Який день мав найменшу кількість клієнтів ?
df.loc[df['Customers'].idxmin()]

Store                                 292
DayOfWeek                               5
Date                  2015-07-31 00:00:00
Sales                                   0
Customers                               0
Open                                    0
Promo                                   1
StateHoliday                            0
SchoolHoliday                           1
Total                                   0
AvgSalePerCustomer                    NaN
Name: 291, dtype: object

In [22]:
#Які три дні поспіль давали найбільший прибуток?
df['3DaySales'] = df['Sales'].rolling(3).sum()

max_idx = df['3DaySales'].idxmax()
max_pos = df.index.get_loc(max_idx)  
top_3_days = df.iloc[max_pos - 2:max_pos + 1]  
total_sales = top_3_days['Sales'].sum()  

print("Найприбутковіші 3 дні поспіль:")
print(top_3_days[['Date', 'Sales']])
print(f"Загальний прибуток за ці 3 дні: {total_sales}")

Найприбутковіші 3 дні поспіль:
             Date  Sales
627505 2013-12-16  23020
627504 2013-12-16  23441
627503 2013-12-16  30903
Загальний прибуток за ці 3 дні: 77364